.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--container-width);
    margin: auto;
    padding: 2rem 0;
}

.logo h1 {
    font-size: 1.5rem;
}

.menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.hamburger {
    display: none;
}

.menu>li {
    display: flex;
    align-items: center;
}

.menu>li>a {
    transform: rotate(0deg);
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1rem 0;
    font-weight: bold;
}

menu {
    margin: 0;
}

.menu>li >a svg {
    transform: rotate(0deg);
    transition: all ease-in-out .3s;
}

.menu>li:hover >a svg {
    transform: rotate(-180deg);
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.menu>li:hover>.sub-menu {
    display: flex;
    transition: all ease-in-out .3s;
}

.sub-menu {
    position: absolute;
    top: calc(100% - 2rem);
    right: 0;
    max-width: 100%;
    display: none;
    flex-wrap: wrap;
    padding: 1rem;
    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 var(--border);
    animation-name: FadeIn;
    animation-duration: .3s;
}

.sub-menu>a {
    width: 25%;
}

.sub-menu>a {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.sub-menu>a h4 {
    margin-bottom: 0.5rem;
}

.sub-menu>a:hover {
    background: #F5F9FC;
    border-radius: 1rem;
}