:root {
    --white: #FFFFFF;
    --light: #FFFFFF;
    --gray: #FFFFFF;
    --info: #FFFFFF;
    --primary: #FFFFFF;
    --success: #FFFFFF;
    --warning: #FFFFFF;

    --bg: #FFFFFF;

    --color: #343434;
}

body {
    font-size: 1rem;
    line-height: 1em;
    color: var(--color);
    background: var(--bg);
}
